/* .app {
    display: flex;
  }
  
  .main-content {
    margin-left: 20vw; 
    width: calc(100vw - 20vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .page-content {
    margin-top: 10vh; 
    height: calc(100vh - 10vh);
    overflow: auto; 
  } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .app {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fb;
  }
  
  .main-content {
    flex: 1;
  }
  
  .page-content {
    padding: 24px;
  }